/*formateando el css*/
* {
  margin: 0;
  padding: 0;
}
/*formateando el body*/
body {
  background-color: #080c0c;
  font-family: "Kiwi Maru", serif;
  color: #cdebe7;
  font-style: normal;
}
/*formateando el header*/
header {
  background-color: #1f6357;
}
/*formateando los links del header*/
header a {
  text-decoration: none;
  font-weight: bold;
  color: #080c0c;
  letter-spacing: 2px;
}
/*formateando el footer*/
footer {
  background-color: #1f6357;
  color: #080c0c;
  text-align: left;
}
/*formateo los div que están dentro del footer*/
footer div {
  text-align: right;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
div a{
    color:rgb(255, 255, 255); 

}
/*quitando los puntos a las listas*/
ul {
  list-style-type: none;
}
/* esto es una clase para el titulo principal*/
.titulo {
  color: #5dc1b9;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
/*esto aplica solo al ID logo*/
#logo {
  border: 10px solid;
  border-color: darkgreen;
  height: 99px;
}
/*aplico color a los encabezados de las tablas*/
th {
  border-color: rgb(146, 92, 12);
  font-weight: bolder;
}
/*aplico color a las filas de las tablas*/
tr {
  border-color: rgb(146, 92, 12);
}
/*aplico color al borde de las tablas*/
table {
  border: 5px solid;
  border-color: rgb(146, 92, 12);
  background-color: #0c5e54;
}
/*aplico color al borde de las columnas*/
td {
  border: 3px solid;
  border-color: rgb(146, 92, 12);
  padding: 30px;
}
/*aplico color a los labels dentro de los forms*/
form label {
  color: steelblue;
}
