/*FORMATEO CSS*/
* {
    margin: 0px;
    padding: 0px;
}

/*BODY*/
body {
    background-color: #080c0c;
    font-family: "Kiwi Maru", serif;
    color: #cdebe7;
    font-style: normal;
}

/*HEADER*/
header {
    background-color: #1f6357;
    grid-area: header;
    background: linear-gradient(90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 121, 95, 1) 35%,
        rgba(0, 212, 255, 1) 100%);
}

header a:hover {
    color: white;
}

header nav {
    align-self: center;
}

/*ETIQUETAS*/
ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline-block;
    position: relative;
    padding: 20px;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: #080c0c;
    letter-spacing: 2px;
    padding: 5px;
}

section p {
    padding: 15px;
    text-align: justify;
}

section iframe {
    padding: 15px;
}

section p {
    padding: 25px;
}

section h1 {
    padding-left: 25px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    grid-area: aside;
    align-self: start;
    margin-left: 20px;
}

h2 {
    text-align: center;
}

aside ul li {
    padding: 0px;
    display: block;
}

/*CLASES*/
.titulo {
    color: #5dc1b9;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
    font-size: 200%;
}

.logo {
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    align-self: center;
}

.imgSize {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*TABLA*/
table {
    border: 5px solid;
    border-color: rgb(146, 92, 12);
    background-color: #0c5e54;
    margin-bottom: 10px;
}

td {
    border: 3px solid;
    border-color: rgb(146, 92, 12);
    padding: 30px;
    text-align: justify;
}

th {
    border-color: rgb(146, 92, 12);
    font-weight: bolder;
}

tr {
    border-color: rgb(146, 92, 12);
}

/*FORM*/
form label {
    color: steelblue;
}

form p {
    display: inline-block;
}

form input {
    margin: 5px;
}

form {
    padding: 20px;
}

/*FLEX*/
.headerFlex {
    display: flex;
    justify-content: space-around;
}

.headerItem {
    display: flex;
    justify-content: start;
}

.sectionFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.formFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
footer div {
    text-align: right;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
}

div a {
    color: rgb(255, 255, 255);
}

div a:hover {
    color: #D0D3D4;
    font-weight: bold;

    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


.footer-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    justify-content: space-around;
}

.footer-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
    width: 25%;
    text-align: center;
}

.footer-social {
    padding: 0 1.875rem 1.25rem;
    width: 80%;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
}

.footer-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    display: block;
}

.footer-copyright {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}

.footer-copyright-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-copyright-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.footer-main-item-title {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-main-item-text {
    color: red;
    text-align: center;
    letter-spacing: 1px;
    font-size: 80%;
    font-weight: bold;
}

footer div img {
    height: 50px;
}

/*GRIDS */
.gridBody {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "contenido"
        "footer";
}

.gridFooter {
    display: grid;
    grid-template-areas:
        "redes"
        "copyright";
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-items: center;
    margin: 0;
    height: auto;
    background-color: #1f6357;
    color: #080c0c;
    text-align: left;
    grid-area: footer;
    background: linear-gradient(90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 121, 95, 1) 35%,
        rgba(0, 212, 255, 1) 100%);
}

.gridEquipoSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto 1fr auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
        "aside titExperiencia"
        "aside experiencia"
        "aside titEducacion"
        "aside educacion";
}

.gridContacto {
    display: grid;
    grid-template-areas:
        "nombre apellido"
        "email telefono"
        "genero conociste"
        "mensaje mensaje"
        "newsletter newsletter"
        "enviar reset";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 40%);
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.contenido {
    grid-area: contenido;
}

.titNombre {
    align-self: center;
}

.titExperiencia {
    grid-area: titExperiencia;
}

.titEducacion {
    grid-area: titEducacion;
}

.experiencia {
    grid-area: experiencia;
}

.educacion {
    grid-area: educacion;
}

.modal-body {
    color: black;
}

.modal-title {
    color: black;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-image: linear-gradient(to bottom, #212529, black);
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.mainPhoto-container {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.mainPhoto {
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
    transition: transform 2s;
}

.mainPhoto:hover {
    transform: scale(1.15);
}

.mainPhoto-stuff {
    position: absolute;
    top: 40px;
    left: 40px;
}

@keyframes rightToLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}

.rightToLeft {
    animation-name: rightToLeft;
    animation-duration: 2000ms;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes leftToRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}

.leftToRight {
    animation-name: leftToRight;
    animation-duration: 2000ms;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes upToDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }
}

.upToDown {
    animation-name: upToDown;
    animation-duration: 2000ms;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes downToUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }
}

.downToUp {
    animation-name: downToUp;
    animation-duration: 2000ms;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.tituloLogo {
    color: white;
    text-decoration: none;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
} */

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */


@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}